<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filter JSON</title>
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/jsonTree.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <div class="line" >
        <div class="files">
          <h3>flux_produit</h3>
          <!-- <el-upload
            ref="jsonFile"
            action=""
            :auto-upload="false"
            accept=".json"
            :on-change="loadJson"
            :on-remove="clearJson"
            >
            <el-button slot="trigger" type="primary" @click="clearJson">Load JSON</el-button>
          </el-upload> -->
          <el-upload
            ref="csvFile"
            action=""
            :auto-upload="false"
            accept=".csv"
            :on-change="parseCsv"
            :on-remove="clearCsv"
            >
            <el-button slot="trigger" type="primary" @click="clearCsv">Load RAC CSV</el-button>
            <!-- <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div> v-loading.body="treeLoading" -->
          </el-upload>
        </div>
        <br>
        <el-checkbox v-model="showBlue" @change="toggleShow" class="blue-check">blue</el-checkbox>
        <el-checkbox v-model="showOrange" @change="toggleShow" class="orange-check">orange</el-checkbox>
        <!-- <el-checkbox v-model="showSalmon" @change="toggleShow" class="salmon-check">salmon</el-checkbox> -->
        <el-checkbox v-model="showGreen" @change="toggleShow" class="green-check">green</el-checkbox>
        <br><br>
        <el-button type="success" @click="paintJSON" :loading="treeLoading">Paint the JSON</el-button>
        <hr>
      </div>
      <div id="tree-wrapper"></div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/jsonTree.js"></script>
    <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="js/csv-js.js"></script>
    <script src="js/app.js"></script>
    <!-- <script src="https://unpkg.com/lodash@4.17.4"></script> -->
  </body>
</html>
