
body {
  padding: 20px;
}

/*.line > * {
  vertical-align: top;
}*/

.files {
  /*display: inline-block;*/
  overflow: hidden;
}

.files > * {
  float: left;
  width: 320px;
  height: 80px;
}

.jsontree_node  {
  padding: 9px 0;
}

.jsontree_child-nodes {
  margin-top: 9px;
}

.dark-blue {
  padding: 8px;
  background-color: rgba(15, 131, 232, 0.7);
}

.blue {
  padding: 8px;
  background-color: rgba(15, 131, 232, 0.4);
}

.orange {
  padding: 8px;
  background-color: orange;
}

.green {
  padding: 8px;
  background-color: rgba(0, 218, 0, 0.5);
}
