
body {
  padding: 20px;
}

/*.line > * {
  vertical-align: top;
}*/

.files {
  /*display: inline-block;*/
  overflow: hidden;
}

.files > * {
  float: left;
  width: 320px;
  height: 80px;
}

.jsontree_node  {
  padding: 9px 0;
}

.jsontree_child-nodes {
  margin-top: 9px;
}

.jsontree_node.dark-blue > .jsontree_label-wrapper > .jsontree_label {
  padding: 8px;
  background-color: rgba(15, 131, 232, 0.7);
}

.jsontree_node.blue-node > .jsontree_label-wrapper > .jsontree_label {
  padding: 8px;
  background-color: rgba(15, 131, 232, 0.4);
}

.jsontree_node.orange-node > .jsontree_label-wrapper > .jsontree_label {
  padding: 8px;
  background-color: orange;
}

.jsontree_node.salmon-node > .jsontree_label-wrapper > .jsontree_label {
  padding: 8px;
  background-color: salmon;
}

.jsontree_node.green-node > .jsontree_label-wrapper > .jsontree_label {
  padding: 8px;
  background-color: rgba(0, 218, 0, 0.5);
}

.orange-check .el-checkbox__input .el-checkbox__inner {
  border-color: orange;
}

.orange-check .el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: orange;
}

.salmon-check .el-checkbox__input .el-checkbox__inner {
  border-color: salmon;
}

.salmon-check .el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: salmon;
}

.green-check .el-checkbox__input .el-checkbox__inner {
  border-color: rgba(0, 218, 0, 0.5);
}

.green-check .el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: rgba(0, 218, 0, 0.5);
}
